.open-viewed-files-btn {
  background-color: #212830;
  border-color: #3d444d;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  vertical-align: middle;
  border-radius: 6px;
  font-weight: 500;
  color: #f0f6fc;
  float: left;
  margin-right: 8px;
  box-shadow: none;
  border-style: solid;
  outline: none;
}

.open-viewed-files-btn:active {
  background-color: #2a313c;
  border-color: #3d444d;
}
